quarkus:
  application:
    name: gamemanager
  rest-client:
    game:
      uri: http://localhost:${game-manager.game.app-http-port}
      logging:
        scope: request-response
  langchain4j:
    openai:
      api-key: ${OPENAI_API_KEY}
      timeout: 15s
#      api-key: not-needed
#      base-url: http://localhost:11434/v1
      chat-model:
        model-name: gpt-5-mini
#        model-name: granite4:latest
    mcp:
      intellij:
        transport-type: stdio
        command: "/Users/edeandre/Applications/IntelliJ\ IDEA.app/Contents/jbr/Contents/Home/bin/java,-classpath,/Users/edeandre/Applications/IntelliJ\ IDEA.app/Contents/plugins/mcpserver/lib/mcpserver-frontend.jar:/Users/edeandre/Applications/IntelliJ\ IDEA.app/Contents/lib/util-8.jar:/Users/edeandre/Applications/IntelliJ\ IDEA.app/Contents/lib/module-intellij.libraries.ktor.client.cio.jar:/Users/edeandre/Applications/IntelliJ\ IDEA.app/Contents/lib/module-intellij.libraries.ktor.client.jar:/Users/edeandre/Applications/IntelliJ\ IDEA.app/Contents/lib/module-intellij.libraries.ktor.network.tls.jar:/Users/edeandre/Applications/IntelliJ\ IDEA.app/Contents/lib/module-intellij.libraries.ktor.io.jar:/Users/edeandre/Applications/IntelliJ\ IDEA.app/Contents/lib/module-intellij.libraries.ktor.utils.jar:/Users/edeandre/Applications/IntelliJ\ IDEA.app/Contents/lib/module-intellij.libraries.kotlinx.io.jar:/Users/edeandre/Applications/IntelliJ\ IDEA.app/Contents/lib/module-intellij.libraries.kotlinx.serialization.core.jar:/Users/edeandre/Applications/IntelliJ\ IDEA.app/Contents/lib/module-intellij.libraries.kotlinx.serialization.json.jar,com.intellij.mcpserver.stdio.McpStdioRunnerKt"
        roots: projectDir=${game-manager.game.root-checkout-dir}
        tool-execution-timeout: 10s
        environment:
          IJ_MCP_SERVER_PORT: 64342
    #        transport-type: streamable-http
#        url: http://localhost:64342/sse
    log-requests: true
    log-responses: true
  http:
    test-port: 0
    cors:
      enabled: true
      origins: "*"
  dev-ui:
    cors:
      enabled: true
  flyway:
    migrate-at-start: true
    baseline-version: 1.0.0
    baseline-description: Initial version
  tls:
    trust-all: true
  hibernate-orm:
    physical-naming-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
  rest:
    jackson:
      optimization:
        enable-reflection-free-serialization: true
  jackson:
    serialization-inclusion: non-empty
  smallrye-openapi:
    info-title: Game Manager API
    info-description: API for managing games and events
    info-version: 1.0
    info-contact-name: Eric Deandrea
    info-contact-url: https://github.com/edeandrea
  swagger-ui:
    always-include: true
  jgit:
    devservices:
      enabled: false

'%dev':
  quarkus:
    flyway:
      clean-at-start: true
    datasource:
      dev-ui:
        allow-sql: true

'%dev,test':
  quarkus:
    hibernate-orm:
      log:
        bind-parameters: true
        sql: true
        format-sql: true
        highlight-sql: true